
        <div class="new">
            <div class="posts_top">
                <p>ログイン</p>
            </div>

            <div class="new_container">
                <div class="form-error">
                    <%= @error_message %>
                </div>
                <%= form_tag("/login") do %>

                <p class="midashi">E-mail</p>
                <input type="text" class="form-control" name="email" value="<%= @email %>">

                <p class="midashi">パスワード</p>
                <input type="password" class="form-control" name="password" value="<%= @password %>">

                <button type="submit" class="btn btn-primary submit_btn">ログイン</button>

                <% end %>
            </div>

            <div class="return-top">
                <a href="#">トップ画面に戻る</a>
            </div>
        </div>